<div container>
    <footer class:"center footer">
      <small>
          Police Domain Reporting Tool Version 1.0 COPYRIGHT &copy TDCOM Computers 
      </small>  
        <nav>
            <ul>
                <li><%= link_to "Report", domains_path %></li>
            </ul>
        </nav>
    </footer>
    
    
</div>